/* Write your style here */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 8px;
  }
  
  h1 {
    margin: .5em 0;
    font-size: 2em;
  }
  
  div {
    display: block;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    /* padding: 0;
    margin: 0; */
  }
  
  li {
    width: 400px;
    margin: 8px;
    padding: 8px;
  }
  
  p {
    /* display: block; */
    margin: 1em 0;
  }
  
  .isNotRead {
    background: red;
  }
  
  .isRead {
    background: green;
  }